@import "components/images";
@import "components/colors";
@import "components/search";
@import "components/mixins";

.container{
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
     

}
